.left-circle {
    position: absolute;
    left: 420px;
    top: 50%;
    transform: translateY(-90%);
    width: 250px;

    height: 250px;

    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    border: 10px solid rgb(77, 54, 29);
}

.left-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.top-header {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70px;
    background-color: #957043;
    border-radius: 40px;


    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 30px;
    color: rgb(238, 203, 45);
    font-family: orbitron, ;
    border: 10px solid rgb(83, 54, 34);


}






.sydney-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

}

.sydney-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sydney-image {
    position: absolute;
    left: 420px;
    top: 50%;
    transform: translateY(20%);
    width: 250px;

    height: 250px;

    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    border: 10px solid rgb(83, 54, 34);
}

body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    /* Removes scrollbars if the image is the only content */
}

.full-page-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Equivalent to background-size: cover */
    display: block;
}


.box-1 {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-90%);
    width: 250px;

    height: 250px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;
    /* Hex code for orange */
}

.box-2 {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(20%);
    width: 250px;

    height: 250px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;

}

.box-3 {
    position: absolute;
    right: 400px;
    top: 50%;
    transform: translateY(-90%);
    width: 250px;

    height: 250px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;


}

.box-4 {
    position: absolute;
    right: 400px;
    top: 50%;
    transform: translateY(20%);
    width: 250px;

    height: 250px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;

}

.box-5 {
    position: absolute;
    right: 475px;
    top: 50%;
    transform: translateY(-48%);
    width: 700px;

    height: 400px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;
    padding: 15px;
}

.box-6 {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-270%);
    width: 50px;

    height: 50px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;


}

.box-7 {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-100%);
    width: 250px;

    height: 175px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;
    padding: 10px;
}

.box-8 {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(10%);
    width: 250px;

    height: 175px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;
    padding: 10px;

}

.meme-box {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-900%);
    width: 20px;

    height: 20px;


    overflow: hidden;
    background-color: white;
    border-radius: 40px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;

}

.meme-box2 {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-780%);
    width: 20px;

    height: 20px;


    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    border: 10px solid rgb(86, 55, 26);
    background-color: #b79a80;

}